/* The Basics============================== */

* {
  box-sizing: border-box;
  /*  border: 1px solid black;*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

/* Home Page ======================== */

body {
  font-family: courier;
  font-weight: normal;
  font-size: 8.6px;
  letter-spacing: .3px;
  text-decoration: none;
  color: black;
  line-height: 18px;
}

img {
  width: 100%;
}

#header {
  background: url('../images/image_placeholder_1.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  max-width: 1800px;
  height: 100vh;
}

/* Sidebar ======================== */

.title {
  height: 100%;
  position: fixed;
  border-right: 1px solid #D8D8D8;
  width: 62px;
  right: 0;
}

.title a {
  white-space: nowrap;
  letter-spacing: 2.7px;
  margin-bottom: 50%;
  font-size: 9px;
  display: block;
  text-transform: uppercase;
  position: absolute;
  top: 50%; 
  right: -15px;
  transform: rotate(-90deg);
}

nav {
  width: 1273px;
  height: 100%;
  position: fixed;
}

.sidebar ul {
  bottom: 77px;
  margin-left: 110px;
  position: fixed;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar li {
  border-top: 1px dotted #454;
  list-style: none;
  width: 300px;
  height: 51px;
  transition: all 300ms ease-in-out;
}

.sidebar li:last-child {
  border: none;
  display: inline-block;
}

.close {
  left: 200px;
  text-transform: none;
  cursor: pointer;
  color: black;
  font-size: 15px;
}

.sidebar {
  transition: all .5s ease-in-out;
  transform: translateX(-95%);
  background-image: url('../images/two.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: white;
  z-index: 100;
}

.active {
  transform: translateX(0%);
  transition: all .5s ease-in-out;
}

.sidebar li:hover {
  transform: translateX(3%)
}

.sidebar li:last-child:hover {
 transform: translateX(0%);
}

.sidebar a:active {
 font-weight: italic;
}

.currentLink {
 font-style: italic;
}

.button {
  padding-bottom: 35px;
  padding-right: 220px;
}

/* View Options ======================== */

#views {
  position: fixed;
  top: 40px;
  right: 50px;
  font-size: 9px;
  color: white;
  letter-spacing: 2px;
  display: none;
}

#views span {
  cursor: pointer;
}

#header {
  width: 100%;
}

#normalContainer img {
  width: 100%;
}

.page {
  width: 100%;
}

.gridTile {
  width: 50%;
  float: left;

}

.black {
  color: black;
}

/* More Information ======================== */

article {
  margin-left: 140px;
  position: fixed;
  width: 300px;
  bottom: 80px;
  /*  top: 430px;*/
  line-height: 20px;
  border-top: 1px dotted #454;
  border-bottom: 1px dotted #454;
  float: left;
}

h3 {
  font-size: 6.5px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: -10px;
}

article div {
  display: inline-block;
}

article div:first-of-type {
  padding-right: 105px;
}

.description{
  width: 300px;
  border-top: 1px dotted #454;
}

.description h3 {
  margin-bottom: -6px;
}

article .type {
  border-right: 1px dotted #454;
}

.date {
  padding-left: 10px;
}

.date h3 {
  padding-bottom: 9px;
}

.dateEdit {
  padding-left: 15px;
}

.dateEdit h3 {
  padding-bottom: 9px;
}

#slashEdit {
  padding-left: 5px;
  padding-right: 2px;
}


/* Gallery ======================== */

.gallery_one {
  float: right;
  width: 34%;
  padding-right: 2px;
  padding-left: 30px;
}

.gallery_one img {
  padding-bottom: 2px;
}

.gallery_one img:hover {opacity: 0.7;}


.gallery_two {
  float: right;
  width: 24%;
}

.gallery_two img {
  padding-bottom: 2px;
}

.gallery_two img:hover {opacity: 0.7;}

/* Gallery (Visual Design) ======================== */

.vis {
  float: right;
  width: 58%;
  padding-left: 30px;
}

.vis img {
  padding-bottom: 2px;
}

/* Snap Back ======================== */

.scrollUp {
  position: fixed;
  margin-left: 40.4%;
  bottom: 0;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 15px;
  display: none;
}

.HomeScrollUp {
  margin-left: 7.7%;
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 15px;
  display: none;
}

/* Collage ======================== */
.grey {
  color: #aeaeae;
}

.collage {
  transition: all .5s ease-in-out;
  float: none;
  position: relative;
}

.dollClass {
   transform:translate(64%,0%);
   width: 60%;
}

.kevinClass {
   transform: translate(-324%, -95%);
   width: 53%;
}

.legsClass {
    width: 45%;
    transform: translate(-38%, 130%);
}

.twoLegsClass {
  width: 80%;
 transform: translate(65%, 5%);
}

.blueBuildingClass {
     width: 53%;
    transform: translate(40%, 8%);
}

.rebeccaClass {
    width: 60%;
    transform: translate(-60%, -100%);
}

.portraitClass {
    width: 70%;
    transform: translate(10%, -271%);
}

.rebeccaVerticalClass {
    width: 85%;
    transform: translate(90%, 80%);
}

.pinkClass {
      width: 51%;
        transform: translate(244%, -481%);
}

.treeClass {
   width: 65%;
    transform: translate(28%, -274%);
}

.buildingsClass {
       width: 51%;
    transform: translate(240%, -147%);
}

.legsClass {
      width: 40%;
    transform: translate(-30%, 135%);
}