/* The Basics============================== */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Home Page ======================== */
body {
  font-family: courier;
  font-weight: normal;
  font-size: 9px;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

img {
/*  width: 95.22%;
  margin-left: 60px;*/
  width: 100%;
}

nav {
  width: 60px;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  border-style: solid;
  border-color: #D8D8D8;
  border-width: 1px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  z-index: 90;
}

.scrolled {
  position: fixed;
}

nav a {
  transform: rotate(-90deg);
  white-space: nowrap;
  letter-spacing: 2.7px;
  font-size: 9px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 308px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}



/* View Options ======================== */

section {
  position: relative;
}

.view {
  text-transform: uppercase;
  display: inline-block;
  color: white;
  padding-top: 28px;
  padding-left: 85%;
  z-index: 100;
  position: fixed;
  top: 12px;
}

.view p {
  display: inline-block;
}

.one, .four {
  display: inline-block;

}

.black {
  color: black;
}

.fa-th-large {
  font-size: 8px;
}

.fa-bars {
  font-size: 8.8px;
}

.view-option {
  color:black;
}

.second-image-view {
  float: left;
  width: 50%;
}

.third-image-view {
  float: left;
  width: 50%;
}

.fourth-image-view {
  float: left;
  width: 50%;
}

.fifth-image-view {
  float: left;
  width: 50%;
}

/* More Information ======================== */

.vertical ul {
  color: black;
  margin-left: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 21.5%;
  float: left;
  width: 10%;
  text-align: right;
  position: fixed;
}

article p {
  text-transform: none;
  color: black;
  float: left;
  width: 23%;
  font-size: 8.5px;
  text-align: justify;
  margin-top: 19%;
  margin-left: 170px;
  line-height: 20px;
  letter-spacing: .3px;
  position: fixed;
}

.gallery {
  float: left;
  width: 50%;
  transform: translateX(100%);
}

.photogrid {
  float: left;
  width: 50%;
}

/* Mobile Page ======================== */

